.example {
  color: #fff;
  text-align: justify;
}

/**Deixar os elementos na mesma linha   display: inline-block;
e setar uma largura e altura pra eles**/

.example::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.example-item {
  width: 25%;
  height: 150px;
  display: inline-block;
}

/**
.example-item:not(:first-child) {
  margin-left: 90px;
  
}**/

/**classes modificadoras**/

.example-item_first {
  background-color: #faa116;
}

.example-item_second {
  background-color: #57c7c3;
}

.example-item_third {
  background-color: #3b97d3;
}

.last-line {
  display: inline-block;
  width: 100%;
}

p {
  text-align: justify;
}